
body {
    background-color: #ffffff;
    color: #000;
  }
  
  
  section {
    width: 1200px;
    padding: 30px;
  }
  
  li{
    list-style-type: none;
  }
  header {
    background-color: #ffffff;
    text-align: center;
    color: #000;
  }
  
  footer{
    background-color: #2F303A;
    color: #fff;
  }
  div{
    color: #fff;
  }
